h1{
    
font-weight: 600;
font-size: 36px;
color:#152C5B ;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
h3{
    font-family: Poppins;
font-weight: 500;
font-size: 24px;
color:#152C5B ;
line-height: 100%;
letter-spacing: 0%;

}