<section>
  <div class="text-center">
    <h1>Explore ALL Rooms</h1>
  </div>
  <div class="container mx-auto">
    <h3>All Rooms</h3>
    <div class="bg-gray-100 flex items-center justify-center">
      <div class="grid grid-cols-4 gap-6">
        <div
          *ngFor="let item of rooms"
          class="relative rounded-xl overflow-hidden shadow-lg mb-6"
        >
          <div class="relative w-full h-60">
            <ng-container
              *ngIf="formatImages(item.images).length > 0; else noImage"
            >
              <img
                [src]="formatImages(item.images)[getCurrentIndex(item._id)]"
                alt="room image"
                class="w-full h-60 object-cover"
                (error)="(emptyImig)"
              />

              <button
                (click)="prevImage(item._id, formatImages(item.images))"
                class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/50 text-white p-2 rounded-full"
              >
                ‹
              </button>
              <button
                (click)="nextImage(item._id, formatImages(item.images))"
                class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/50 text-white p-2 rounded-full"
              >
                ›
              </button>
            </ng-container>
            <div
              class="absolute top-3 right-3 bg-pink-500 text-white text-sm font-semibold px-3 py-1 rounded-full"
            >
              {{ item.price }} $ / night
            </div>

            <ng-template #noImage>
              <img
                [src]="emptyImig"
                alt="no image"
                class="w-full h-60 object-cover"
              />
            </ng-template>
          </div>

          <div class="absolute bottom-3 left-3 text-white">
            <h3 class="text-lg font-bold">{{ item.roomNumber }}</h3>

            <p class="text-sm">
              {{
                item.facilities && item.facilities.length > 0
                  ? item.facilities[0].name
                  : "No facilities"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="200"
      [pageSizeOptions]="[12, 50, 100]"
      aria-label="Select page"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</section>
