<div class="forgot-container">
  <!-- Left Section -->
  <div class="forgot-left">
    <!-- Logo -->
    <div class="logo">
      <span class="stay">Stay</span><span class="cation">cation.</span>
    </div>

    <!-- Form Section -->
    <div class="form-section">
      <h2>Forgot password</h2>
      <p>If you already have an account register</p>
      <p>
        You can
        <a class="login-link" routerLink="/auth/login">Login here !</a>
      </p>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="input-form">
          <mat-label class="block">Enter your email</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              type="email"
              placeholder="Please type here ..."
              formControlName="email"
            />

            @if(forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched){
              <mat-error>Email is required</mat-error>
            }
            @if(forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched){
              <mat-error>Please enter a valid email</mat-error>
            }
          </mat-form-field>
        </div>

        <button mat-raised-button class="send-btn" type="submit">
          Send mail
        </button>
      </form>
    </div>
  </div>

  <!-- Right Section -->
  <div class="forgot-right">
    <div class="overlay-text">
      <h2>Forgot password</h2>
      <p>Homes as unique as you.</p>
    </div>
  </div>
</div>
