<footer>
    <div class="mainFooter">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-3">
            <p class="logo"><span class="mainColor">Stay</span>cation.</p>
            <p style="color: #B0B0B0;">We kaboom your beauty holiday
            <br>instantly and memorable.</p>
            </div>
            <div class="col-span-12 md:col-span-3">
            <p class="mainColor font-medium">For Beginners</p>
            <p style="color: #B0B0B0;">New Account</p>
            <p style="color: #B0B0B0;">Start Booking a Room</p>
            <p style="color: #B0B0B0;">Use Payments</p>
            </div>
            <div class="col-span-12 md:col-span-3">
            <p class="mainColor font-medium">Explore Us</p>
            <p style="color: #B0B0B0;">Our Careers</p>
            <p style="color: #B0B0B0;">Privacy</p>
            <p style="color: #B0B0B0;">Terms & Conditions</p>
            </div>
            <div class="col-span-12 md:col-span-3">
            <p class="mainColor font-medium">Connect Us</p>
            <p style="color: #B0B0B0;">support{{'@'}}staycation.id</p>
            <p style="color: #B0B0B0;">021 - 2208 - 1996</p>
            <p style="color: #B0B0B0;">Staycation, Kemang, Jakarta</p>
            </div>
            <div class="col-span-12 text-center mt-6">
            <p style="color: #B0B0B0;">Copyright 2019 • All rights reserved • Staycation</p>
            </div>
        </div>

    </div>
</footer>