<div class="login-container">
  <!-- Left Section -->
  <div class="login-left">
    <!-- Logo -->
    <div class="logo">
      <span class="stay">Stay</span><span class="cation">cation.</span>
    </div>

    <!-- Form Section -->
    <div class="form-section">
      <h2>Sign in</h2>
      <p class="login-link">
        If you don’t have an account register <br>
        <a routerLink="/auth/register">You can Register here !</a>
      </p>

      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="input-form">
        <!-- Email -->
        <!-- ✅ Email -->
        <div class="input-form">
          <mat-label class="block">Enter your email</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput type="email" placeholder="Please type here ..."
              formControlName="email" />

            @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
            <mat-error>Email is required</mat-error>
            }
            @if(loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched){
            <mat-error>Please enter a valid email</mat-error>
            }
          </mat-form-field>
        </div>



        <!-- ✅  Password -->
        <div class="input-form">
          <mat-label class="block">Enter new password</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your new password ..."
              formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
            <mat-error>Password is required</mat-error>
            }
            @if(loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched){
            <mat-error>{{passwordError}}</mat-error>
            }
          </mat-form-field>
        </div>



        <!-- Submit Button -->
        <button mat-flat-button class="send-btn" type="submit" [disabled]="loginForm.invalid">
         Login
        </button>
      </form>
    </div>
  </div>

  <!-- Right Section -->
  <div class="login-right">
    <div class="overlay-text">
      <h2>Sign in to Roamhome</h2>
      <p>Home As Unique As You</p>
    </div>
  </div>
</div>
