<div class="modal-head px-2 py-2 bg-green-100">
    <h3 class="text-white">Facility Details</h3>
    <button class="close" (click)="onNoClick()">
        <mat-icon class="maticon">close_small</mat-icon>
    </button>
</div>
  <div class="modal-data grid grid-cols-12 gap-4 p-4">
    <div class="col-span-6"><span>Facility Name :{{data?.name}}</span></div>
    <div class="col-span-6"><span>User Name : {{data.createdBy.userName}}</span></div>
    <div class="col-span-6"><span>Created Data : {{data.createdAt| date : "dd/MM/yyyy" }}</span></div>
    <div class="col-span-6"><span>Last Updated : {{ data.updatedAt | date : "dd/MM/yyyy" }}</span></div>
</div>
