.sideNav{
    position: fixed;
    height: 100vh;
    background-color: #203FC7;
    width: 5rem;
    left: 0;
    top: 0;
    transition: width 0.6s ease;
    z-index: 55;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,0;
}

.side-nav-Opened{
    width: 16rem;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
       .open{
                display: block;
                width: 60px;

            }
            .close{
                display: none;
                width: 60px;
            }

}
.logo .closenav{
    background-color: red;
}
.logo img{
    width: 60px;
    margin:  auto;
    img{
        width: 100%;
        cursor: pointer;
    }
}



.sidenav-nav{
    list-style:none ;
    padding: 0.938rem;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    cursor: pointer;
    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;
        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 2.4rem;
            padding-left: 10px;
            color: #fff;
            text-decoration: none;
            transition: all .3s ease;
            font-weight: 600;
            width: 100%;
            .sidenav-nav-icon{
                font-size: 20px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
                display: flex;
            }

        }
        .sidenav-nav-link:hover{
            background-color: rgba(26, 27, 30, 0.17);
        }
        .sidenav-nav-link.active-link:hover{
            background: rgba(26, 27, 30, 0.17);
            color: #fff !important;
        }

    }

}
.active-link{
    position: relative;
    background-color: rgba(26, 27, 30, 0.17);
    color: #fff !important;
    &::before{
             content: "";
             position: absolute;
             height: 100%;
             width: 5px;
             background-color: #152C5B;
             top: 0;
             left: 0;
    }
}
hr{
    margin: 0.5rem 0;
    color: #F3F2F3;
    border: 0;
    border-top: 5px solid #F3F2F3;
    opacity: 1;
}
.mainColor{
    color: #0D6EFD;
}
.sideNav:not(.side-nav-Opened) .sidenav-nav-link {
  justify-content: center;
  padding: 0;
  .logo img{
    display: none;
  }
}
.sideNav.side-nav-Opened {
    .logo{
        display: flex;
        align-items: center;
        justify-content: end;
         padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
        .closeButton{
            color: white;
        }
    }

}

.sideNav:not(.side-nav-Opened) .sidenav-nav-icon {
  margin: 0;
}