<section class="chnage-password ">
    <div class="logo"><p><span class="mainColor">Stay</span>cation.</p></div>
    <div class="flex flex-col md:flex-row main-wrapper gap-y-10 justify-center align-center">
        <div class="w-full md:w-1/2  p-4 order-2 md:order-1">
            <div class="form-section md:ml-20">
                <h2>Change Password</h2>
                <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassowrd(changePasswordForm)">
                    <div class="input-form">
                        <mat-label class="block">Enter your old password</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Old Password" formControlName="oldPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            @if(changePasswordForm.get('oldPassword')?.hasError('required') && changePasswordForm.get('oldPassword')?.touched){
                            <mat-error >Old password is required</mat-error>
                            }
                            @if(changePasswordForm.get('oldPassword')?.hasError('pattern') && changePasswordForm.get('oldPassword')?.touched){
                            <mat-error >{{passwordError}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                     <div class="input-form">
                        <mat-label class="block">Enter your new password</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput [type]="hidenewPass ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword">
                            <button mat-icon-button matSuffix (click)="hidenewPass = !hidenewPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidenewPass">
                            <mat-icon>{{hidenewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          @if(changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched){
                            <mat-error >new password is required</mat-error>
                            }
                            @if(changePasswordForm.get('newPassword')?.hasError('pattern') && changePasswordForm.get('newPassword')?.touched){
                            <mat-error >{{passwordError}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                     <div class="input-form">
                        <mat-label class="block">Enter confirm password</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput [type]="hideCofirmPass ? 'password' : 'text'" placeholder="New Password" formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hideCofirmPass = !hideCofirmPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCofirmPass">
                            <mat-icon>{{hideCofirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                           @if(changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched){
                            <mat-error >Confirm password is required</mat-error>
                            }
                            @if(changePasswordForm.errors?.['passwordMismatch'] && !changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched){
                            <mat-error >Password Not Matched</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <button type="button" class="form-back " (click)="back()">Back</button>
                        <button type="submit" class="form-button" >Change Password</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="w-full md:w-1/2  p-4 order-1 md:order-2 flex justify-center md:justify-end">
            <div class="main-image">
                <img src="../../../../../assets/Images/Register.png" alt="">
                <div class="content">
                    <h2>Change Password</h2>
                    <p>Homes as unique as you.</p>
                </div>

            </div>

        </div>
    </div>
</section>