<div class="grid grid-cols-12 gap-4 grid-Parent">
  <div class="col-span-12 md:col-span-4 cols">
    <div class="flex items-center justify-between">
        <div>
            <h2>{{chartData?.rooms}}</h2>
            <p>Rooms</p>
        </div>
        <div>
            <mat-icon class="icon">work</mat-icon>
        </div>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 cols">
    <div class="flex items-center justify-between">
        <div>
           <h2>{{chartData?.facilities}}</h2>
            <p>Facilities</p>
        </div>
        <div>
            <mat-icon class="icon">work</mat-icon>
        </div>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 cols">
    <div class="flex items-center justify-between">
       <div>
           <h2>{{chartData?.ads}}</h2>
            <p>Ads</p>
        </div>
        <div>
            <mat-icon class="icon">work</mat-icon>
        </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 grid-Parent">

  <div class="col-span-12 md:col-span-6 ">
   <div style="width: 300px; height: 300px;" class="m-auto ">
    <canvas id="doughnutCanvas"></canvas>
  </div>
  </div>
  <div class="col-span-12 md:col-span-6 ">
    <div style="width: 300px; height: 300px;" class="m-auto ">
    <canvas id="users"></canvas>
    </div>
  </div>
</div>