// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hotel-primary: mat.define-palette(mat.$indigo-palette);
$hotel-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hotel-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hotel-theme: mat.define-light-theme(
  (
    color: (
      primary: $hotel-primary,
      accent: $hotel-accent,
      warn: $hotel-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hotel-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainColor {
  color: #3252df;
}

//global style for inputs

.mat-mdc-form-field {
  width: 100% !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f5f6f8 !important;
}

.mat-icon {
  margin-right: 20px;
}

.mat-mdc-unelevated-button.mat-primary {
  width: 100% !important;
}

/* success snackbar */
.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: #fff !important;
  z-index: 99999999999999999999999;
}

/* error snackbar */
.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: #fff !important;
  z-index: 99999999999999999999999;
}

//auth button
.auth-button {
  background-color: #3252df !important;
  color: white !important;
  box-shadow: rgba(50, 82, 223, 0.3) 0px 8px 24px !important;
  width: 100% !important;
  padding: 12px !important;
  border-radius: 4px !important;
}
.auth-button:disabled {
  background-color: #3252dfde !important;
  color: white !important;
  box-shadow: rgba(50, 82, 223, 0.3) 0px 8px 24px !important;
  width: 100% !important;
  padding: 12px !important;
  border-radius: 4px !important;
}
//sidebar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #203fc7;
}

::-webkit-scrollbar-thumb:hover {
  background: #203fc7;
}

.mat-mdc-paginator-page-size-label {
  display: none !important;
}
