.closeicon{
  color: red;
  border: 2px solid red;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.submitBtn{
  background-color: #203fc7;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
}