<div class="flex items-center justify-between p-4">
  <span>{{data.title}}</span>
  <mat-icon class="closeicon" (click)="onNoClick()">close</mat-icon>
</div>

<div class="form-group">
  <form [formGroup]="FacitiyForm" (ngSubmit)="SubmitForm(FacitiyForm)">
    <div class="input-form p-4">
      <mat-label class="block">Enter Facility</mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="enter Facility"
          formControlName="name" />
        @if(FacitiyForm.get('name')?.hasError('required') && FacitiyForm.get('name')?.touched){
        <mat-error>Facility is required</mat-error>
        } @if(FacitiyForm.get('name')?.hasError('minLength') &&FacitiyForm.get('name')?.touched){
        <mat-error>minLenght is 10</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex items-center justify-end p-4 ">
      <button type="submit" class="submitBtn">{{facilityId != null?"Edit":"Add"}}</button>
    </div>
  </form>
</div>